<div class="sort">
  <form id="demo-2">
    <input type="search" placeholder="Search" class="form-control" #msgref (keyup)="SearchText(msgref.value)">

  </form>
</div>
<div class="row">
  <div class="col-sm-12">
<table *ngIf="questionsFlag" style="margin-top: 19px;border: 1px solid #eee">
  <ul style="padding:10px" *ngFor="let question of questions | paginate:{ itemsPerPage: 6, currentPage: p }" >
    <li (click)="onQuestionClick(question)" class="list-group-item"> {{question.question}}
      <span class="badge">{{question.postedTime | date:"shortDate"}}</span>
    <span style="color:grey" >Postedby:{{question.userName}}</span>
    </li>

    <!--PostedTime:{{question.postedTime}}-->
  </ul>

</table>
<div *ngIf="answersFlag">
  <h3><b>{{question}}</b></h3>
  <table>
    <ul *ngFor="let answer of answers | paginate:{ itemsPerPage: 10, currentPage: p }">
      <li><p>{{answer.answer}}</p></li>
      <span style="color:grey">PostedTime:{{answer.postedTime}} PostedBy:{{answer.userName}}</span>
    </ul>
    <button (click)="onClick()" class="btn btn-info btn-lg">Back</button>
    <button (click)="onAnswerClick()" class="btn btn-primary btn-lg" style="margin-left:2px">Answer</button>
  </table>

</div>

<div class="answers" *ngIf="postAnswerFlag">
  <textarea #answer required style="width:100%;height:60%;"></textarea>
  <button id="subAns" (click)="onSubmitClick(answer.value)" data-dismiss="modal">Submit</button>
  <button (click)="onCloseClick()" id="close">Close</button>
</div>
</div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

