<div class="container-fluid">
<div class="sort" style="width:900px">
  <form id="demo-2">
    <input type="search" placeholder="Search" class="form-control" #msgref (keyup)="SearchText(msgref.value)">

  </form>
</div>
<div class="row">
  <div class="col-sm-12">
    <table style="margin-top: 19px;border: 1px solid #eee">
      <ul style="padding:10px" *ngFor="let question of questions | paginate:{ itemsPerPage: 6, currentPage: p }" >
        <li (click)="onQuestionClick(question)" class="list-group-item"> {{question.question}}
          <span class="badge">{{question.postedTime | date:"shortDate"}}</span>
          <span style="color:grey" >Posted by : {{question.userName}}</span>
        </li>
      </ul>

    </table>
  </div>
</div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

