<div>
  <div class="formDiv col-lg-4 col-lg-offset-4">
    <form [formGroup] = "UserForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-lg-12">
        <label >User Name:</label>
        <input type="text" class="form-control "  formControlName="userName">
      </div>
      <div class="form-group col-lg-12">
        <label >Password:</label>
        <input type="password" class="form-control"  formControlName="password">
      </div>
        <div class="form-group col-lg-12">
          <label>{{error}}</label>
      </div>
      <div class="form-group col-lg-12">
        <button type="submit" class="btn btn-primary" >submit</button>
      </div>

    </form>
  </div>
</div>


<!--<div >-->
  <!--<div>-->
    <!--<h2>Login : </h2>-->

    <!--<div >-->
      <!--{{userMessage}}-->
    <!--</div>-->

    <!--<form [formGroup]="userForm" (ngSubmit)="clicking()">-->
      <!--<div>-->
        <!--<label>User Name:</label>-->
        <!--<div>-->
          <!--<div>-->
            <!--<span><i></i></span>-->
            <!--<input type="text" name="name" placeholder="Enter name" formControlName="userName">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label >Password:</label>-->
        <!--<div >-->
          <!--<div >-->
            <!--<span ><i ></i></span>-->
            <!--<input type="password"  name="passwd" placeholder="Enter Password"-->
                   <!--formControlName="password">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div >-->
        <!--<div >-->
          <!--<button type="submit" [disabled]="!userForm.valid" >Submit</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
