<div class="col-sm-3 col-md-3">
  <form class="navbar-home">
    &nbsp;&nbsp;
    <a routerLink="java"><span style=cursor:pointer></span> Java</a><br/>&nbsp;&nbsp;
    <a routerLink="javascript"><span style=cursor:pointer></span>JavaScript</a><br/>&nbsp;&nbsp;
    <a routerLink="sql"><span style=cursor:pointer></span>SQL</a><br/>&nbsp;&nbsp;
    <a routerLink="movies"><span style=cursor:pointer></span> Movies</a><br/>&nbsp;&nbsp;
    <a routerLink="history"><span style=cursor:pointer></span>History</a><br/>&nbsp;&nbsp;
    <a routerLink="games"><span style=cursor:pointer></span>Games</a><br/>&nbsp;&nbsp;
  </form>
</div>
<div class="home">
  <router-outlet></router-outlet>
</div>
