<div class="container-fluid">
  <div class="row" style="background: #f1f1f1">
<div class="categories col-sm-12" style="padding: 10px;font-size: 22px;">
<ul>
    <li style="list-style: none;margin-left: 25px;margin-right: 5px;display:inline-block" *ngFor="let category of categories">
      <a routerLink="/home/topic/{{category.categoryName}}">{{category.categoryName}}</a>
    </li>

</ul>
</div>
  </div>
<div class="col-sm-12" style="margin-top: 10px">
<button *ngIf="this.isloggedin" type="button" class="AskAQuestionButton" data-toggle="modal" data-target="#myModal">Ask A Question</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <select #cate class="form-control">
          <option *ngFor="let category of categories" [value]="category.categoryId" class="category">{{category.categoryName}}</option>
        </select>
      </div>
      <div class="modal-body">
        <textarea rows="5" name="question"  #question style="width:100%"></textarea>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" data-dismiss="modal" question.value="" (click)="onSubmitQuestion(cate.value,question.value)">submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
<div class="navbar-home row">
  <div class="col-sm-12">
  <router-outlet></router-outlet>
</div>
</div>
</div>




